PPG_JWT_SECRET=abc123
PPG_PEPPER=qwerty456
PPG_PROD_DB_HOST_WITH_PATH=example.com/database
PPG_PROD_DB_USER=user
PPG_PROD_DB_PASSWORD=password
PPG_TEST_DB_HOST_WITH_PATH=example.com/test-database
PPG_TEST_DB_USER=test-user
PPG_TEST_DB_PASSWORD=test-password